{% load static %}

<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %} ">
</head>

<body>
    <!-- start nav -->
    <nav>
        <div class="container">
            <div class="flex">
                <div class="logo"><img src="{% static "images/logo.png" %}"></div>
                <ul class="links">
                    <li><a href="#">الصفحة الرئيسية</a></li>
                    <li><a href="#">عن المدرسة</a></li>
                    <li><a href="#"> الأقسام و المراحل التعليمية</a></li>
                    <li><a href="#">اتصل بنا</a></li>
                    <li class="results">نتائج
                        <i class="fas fa-sort-down"></i>
                        <ul class="menu">
                            <li>الصف الثالث الابتدائي</li>
                            <li>الصف الثالث الابتدائي</li>
                            <li>الصف الثالث الابتدائي</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- start main -->
    <main>
        <h1>نتيجة الصف الثاني الابتدائي</h1>
        <form method="POST">
        {% csrf_token %}
            {{ form.number }}
            <button>عرض النتيجة</button>
        </form>
    </main>

    <!-- start table -->
    <div class="container">
        <div class="tableparent">
            {% if results %}
                {% for result in results %}
                <table>
                    <tr>
                        <td>الاسم : {{ result.name}}</td>
                        <th>العربي</th>
                        <th>اللغة الانجليزية</th>
                        <th>الرياضات</th>
                        <th>العلوم</th>
                        <th>المجموع</th>
                        <th>الدين</th>
                        <th>الحاسب</th>
                        <th>الرسم</th>
                    </tr>
                    <tr>
                        <td> الدرجة الكبري</td>
                        <td>30</td>
                        <td>50</td>
                        <td>30</td>
                        <td>50</td>
                        <td>30</td>
                        <td>50</td>
                        <td>30</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <td>درجة الطالب</td>
                        <td>{{ result.arabic }}</td>
                        <td>{{ result.english }}</td>
                        <td>{{ result.math }}</td>
                        <td>{{ result.science }}</td>
                        <td>{{ result.sum }}</td>
                        <td>{{ result.belief }}</td>
                        <td>{{ result.computer }}</td>
                        <td>{{ result.art }}</td>
                    </tr>
                </table>
            {% endfor %}
            {% else %}
                {% for msg in messages %}
                    <p>{{ msg }}</p>

                {% endfor %}
        {% endif %}
        </div>
    </div>
    <script src="{% static "js/main.js"%}"></script>
</body>

</html>